@model IEnumerable<MVC_API_Participation.Models.Student>

@{
    ViewBag.Title = "Index";
}

@*<link rel="stylesheet" href="styleDesign.css">*@
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
<a href="/Students/Details/@item.StudentID">
   <div class="btn btn-info" style="width:18rem;">
    @*<img src="..." class="card-img-top" alt="...">*@
    <div class="card-body" onclick="showInfo()">
        <h5 class="card-title">@(item.StudentID)  @(item.LastName), @(item.FirstName)</h5>
        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
        
    </div>
    <p>
        @Html.ActionLink("Show Details", "Details.Courses")
    </p>
    
</div>
</a>}
   @* <script>
        (function showInfo() {
            var detailsInfo = document.getElementsByClassName("btn btn-info");
            detailsInfo.innerHTML = "<p>@(item.FavoriteColor)</p>";
            if (detailsInfo.style.display === "none") {
                //JavaScript use three = --> ===
                detailsInfo.style.display = "block";
            } else {
                detailsInfo.style.display = "none";
            }
        })()
    </script>*@
}


@*<table class="table">
    <tr>
        <th>
            Student Card
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteColor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.FirstName)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteColor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }, new {@class="btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, new { @class="btn btn-danger" })
        </td>
    </tr>
}

</table>*@
